<div
  {{ block.shopify_attributes }}
  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"

>
  
<div class="money-back">
				<img src="https://cdn.shopify.com/s/files/1/0459/2494/1987/t/42/assets/CircleWavyCheck.svg?v=51402375465626629131674184945" class="money-back-img" alt="img">
				<span class="money-back-text">{{ block.settings.moneybackguarantee }}</span>
			</div>

   </div>
